{% extends 'calorieapp/count.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">CalorieCount</span>
  </nav>

  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group" style = 'max-width:400px; margin-left:420px;margin-top:40px'>
      <label for="{{ form.name.id_for_label }}">Name:</label>
      <input type="text" name="name" id="id_name" class="form-control" required>
      <!-- {{ form.name }} -->
    </div>
    <div class="form-group" style = 'max-width:400px; margin-left:420px;'>
      <label for="{{ form.calories.id_for_label }}">Calories:</label>
      <input type="text" name="calories" id="id_calories" class="form-control" required>
      <!-- {{ form.calories }} -->
    </div>
    <div class="form-group" style = 'max-width:400px; margin-left:420px;'>
      <label for="{{ form.protein.id_for_label }}">Protein:</label>
      <input type="text" name="protein" id="id_protein" class="form-control" required>
      <!-- {{ form.protein }} -->
    </div>
    <div class="form-group" style = 'max-width:400px; margin-left:420px;'>
      <label for="{{ form.protein.id_for_label }}">Fats:</label>
      <input type="text" name="fats" id="id_fats" class="form-control" required>
      <!-- {{ form.fats }} -->
    </div>
    <button type="submit" class="btn btn-primary btn-block" style = 'max-width:400px; margin-left:420px;'>Submit</button>
  </form>
{% endblock %}